html{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 59);
}
section{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 96px;
}
.hero{
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column ;
    background-color:rgb(56, 58, 160);
}
.nombre{
    font-size:72px;
    line-height: 0;
}
h2{
    color: rgb(193, 202, 253);
}
.profesion{
    font-size: 32px;
}
.enlace-proyecto{
    text-decoration: none;
    color: rgb(42, 40, 66);
}
.enlace-proyecto:hover{
    color: rgb(66, 66, 66);
}
.proyecto{
    padding:16px;
    background-color: rgb(226, 226, 226);
    border-radius: 16px;
    margin-bottom: 16px;
}
.experiencia{
    background-color: rgb(129, 152, 255);
    padding: 16px;
    border:5px solid black;
    border-radius: 11px;
}
article{
    margin-bottom: 12px;
}
.exp-nombre{
    font-size: 20px;
    font-weight: bold;
}
.exp-descripcion{
    color: rgb(31, 31, 31);
}
.exp-fecha{
    color:rgb(110, 110, 110);
}
.habilidades{
    padding: 9px;
    width: fit-content;
    background-color: rgb(175, 157, 252);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-bottom: 60px;
}

.habilidades p {
    margin: 0px;
    width: fit-content;
}
.envoltura-hab{
    display:flex;
    flex-wrap:wrap;
    gap: 8px;
}