html{
    font-family:Georgia, 'Times New Roman', Times, serif
}
section{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.experiencia{
    background-color: rgb(129, 152, 255);
    padding: 16px;
    border:5px solid black;
    border-radius: 11px;
}
.exp-nombre{
    font-size: 20px;
    font-weight: bold;
}
.exp-descripcion{
    color: rgb(31, 31, 31);
}
.exp-fecha{
    color:rgb(110, 110, 110);
}
.habilidades{
    padding: 9px;
    width: fit-content;
    background-color: rgb(175, 157, 252);
    border-radius: 10px;
    margin-bottom: 5px;
}

.habilidades p {
    margin: 0px;
    width: fit-content;
    
}